  --font-size: 17px;
  --font-size-link: 12px;
  --font-weight: normal;
  --font: Open Sans, sans;
  --padding: 0px;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* ----------  DAY THEME  ---------- */
  --bg: #fffbef;
  --fg: #5c6a72;
  --accent-fg: #f2efdf;
  --border: #a7c080;
  --title: #5c6a72;
  --title-accent: #a7c080;
  --link: #a6b0a0;
  --link-accent: #a7c080;
  
  /* ---------- NIGHT THEME ---------- */
  --nbg: #272e33;
  --nfg: #d3c6aa;
  --naccent-fg: #374145;
  --nborder: #a7c080;
  --ntitle: #d3c6aa;
  --ntitle-accent: #a7c080;
  --nlink: #7a8478;
  --nlink-accent: #a7c080;
